[nine-test]
user = {{ pool.nine_test.user }}
group = {{ pool.nine_test.group }}

listen = {{ pool.nine_test.listen_proc }}

listen.owner = {{ pool.nine_test.listen_owner }}
listen.group = {{ pool.nine_test.listen_group }}

pm = {{ pool.nine_test.pm.type }}
pm.max_children = {{ pool.nine_test.pm.max_children }}
pm.start_servers = {{ pool.nine_test.pm.start_servers }}
pm.min_spare_servers = {{ pool.nine_test.pm.min_spare_servers }}
pm.max_spare_servers = {{ pool.nine_test.pm.max_spare_servers }}
pm.max_requests = {{ pool.nine_test.pm.max_requests }}
pm.status_path = {{ pool.nine_test.pm.status_path }}

rlimit_files = {{ rlimit_files }}

;php_admin_value[memory_limit] = 128M
;php_admin_value[max_execution_time] = 30
;php_admin_value[max_input_vars] = 5000
