- name: 1.1 update current repository to latest version
  apt:
    update_cache: yes

- name: 1.2 install apache2 and php8.3 packages
  apt: 
    name:
      - apache2
      - apache2-utils
      - apache2-bin
      - php8.3
      - php8.3-cli
      - php8.3-bz2
      - php8.3-curl
      - php8.3-mbstring
      - php8.3-intl
      - php8.3-fpm
      - php8.3-mysqli 
    state: present

- name: 1.3 collect current status of installation
  service_facts: 

- name: 1.4 display service status
  debug:
    msg:
      - "Apache2 status: {{ ansible_facts.services['apache2.service'] }}"
      - "PHP-FPM status: {{ ansible_facts.services['php8.3-fpm.service'] }}"
